<ion-header>
  <ion-toolbar>
    <ion-title> Plugins Are Used </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input data-testid="firstName" [(ngModel)]="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input data-testid="lastName" [(ngModel)]="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button
          data-testid="save"
          size="block"
          [disabled]="!(firstName && lastName)"
          (click)="save()"
          >Save</ion-button
        >
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button data-testid="clear" size="block" (click)="clear()"
          >Clear</ion-button
        >
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button data-testid="hello" size="block" (click)="sayHi()"
          >Say HI!</ion-button
        >
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
